h1 {
	color: #fafafa;
	font-weight: 700;
	font-size: 36px;

}

.form-wrapper {
	background-color: #1E1F29;
	color: #FAFAFA;
}

label {
	color: #AFB2BF;
}

input, textarea, select {
	background-color: #2E2D3D;
	color: #fafafa;
}

button {
	background-color: #6C38CC;
	color: #FAFAFA;
}

