html {
	font-family: 'Roboto', sans-serif;
}

body {
	box-sizing: border-box;
	background-color: #ffff;
}

header > nav > ul {
	list-style: none;
}

.header_nav {
	max-width: 1200px;
	margin: 0 auto;
	padding: 33px 50px;
	border-bottom: 1px solid #f0f0f0;
}

.header_nav-menu {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 34px;
}
.menu-link {
	text-decoration: none;
	color: #050038;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	transition: color 0.2s;
}
.menu-link:hover,
.menu-link:focus {
	color: #4262ff;
}
